Package: com.la.winday
Name: VCAM iOS (Roothide)
Version: 1.3.2
Architecture: iphoneos-arm64
Description: Virtual Camera & Virtual Microphone for roothide jailbreak
Maintainer: Tele
Author: @ting0134
Section: Tweaks
Depends: roothide (>= 0.0.1) | org.coolstar.ellekit | mobilesubstrate (>= 0.9.5000)
