Package: com.la.winday
Name: VCAM iOS (Roothide)
Version: 1.6.1
Architecture: iphoneos-arm64e
Description: Virtual Camera & Photo replacement for roothide jailbreak
Maintainer: Tele
Author: @ting0134
Section: Tweaks
Depends: roothide (>= 0.0.1) | org.coolstar.ellekit | mobilesubstrate (>= 0.9.5000)
