Package: com.hid.dev
Name: HideDeveloperMode (Anti-DevMode)
Version: 1.0.0
Architecture: iphoneos-arm64
Description: Spoof & Hide iOS 16 Developer Mode from Banking & KYC Apps (ACB, VNeID, etc.)
Maintainer: CodeByWin
Author: CodeByWin
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), roothide (>= 0.0.1) | org.coolstar.ellekit
